h1
{font-family: 'Chakra Petch', sans-serif;color:purple;}
h2{font-family: 'Chakra Petch', sans-serif;color:purple;}
p{font-family: 'Charmonman', cursive;color:blue;}
ul{font-family: 'Charmonman', cursive;color:blue;}
body{background:olive;}